# psm-utils~=1.1.0
psm-utils @ git+https://github.com/julianu/psm_utils.git@pepxml-and-mzid-fixes
#mokapot~=0.10.0
ms2rescore_rs @ git+https://github.com/di-hardt/ms2rescore-rs.git@70c15002a9f065ea2cd01a9a9a95b8bcff762f53
ms2rescore~=3.1.5
oktoberfest~=0.10.0